.btn {
	display: inline-block;
	vertical-align: top;
	background: $primary-color;
	transition: color $animation-speed ease-in-out, background $animation-speed ease-in-out, border $animation-speed ease-in-out;

	&:hover,
	&:focus { 
		color: $white;
		background: darken($base-link-color, 10%);
	}
}
